:root {
  color-scheme: light dark;
  --color-accent: oklch(70% 16% 234)
}

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 10em;
    accent-color: var(--color-accent)
  }

label.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1em;
  font-size: 80%;
}

nav {
  --border-color: oklch(50% 10% 200 / 40%);
  ul {
    display: contents;
    li {
      display: contents;
    }
  }
  display: flex;
  a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
  }
  a:hover {
    border-bottom-width: 0.4em;
    border-bottom-style: solid;
    border-bottom-color: var(--color-accent);
    background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
    padding-bottom: 0.2em;
  }
  margin-bottom: 5em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
}

.current {
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
  padding-bottom: 0.2em;
}

input, textarea, button, select {
  font: inherit; 
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  label {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
  }
  button {
    grid-column: 1 / -1;
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  h2 {
    margin: 0;
  }
}

h1 {
  font-size: 400%;
}

h {
  line-height: 1.1;
  text-wrap: balance;
}

section {
  padding: 0px 10px;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  border-bottom-color: oklch(40% 3% 200);
  header {
    color: oklch(59.95% 0.1374 126.32)
  }
  a {
    color: inherit;
  }
  
}
